/***** icn :start *****/
.icn_fb{background:url("../images/icn_fb.svg");}
.icn_twitte{background:url("../images/icn_twitte.svg");}
.icn_youtube{background:url("../images/icn_youtube.svg");}
.icn_fees{background:url("../images/icn_rs.svg");}
.icn_loaction{background:url("../images/icn_location.svg");}
.icn_srt{background:url("../images/icn_short.svg");}
.icn_filter{background:url("../images/icn_fliter.svg");}
.icn_time{background:url("../images/icn_time.svg");}
.icn_write{background:url("../images/icn_write.svg");}
.btn_get_Directions{background:url("../images/icn_map.svg");}
.icn_srt,.icn_filter,.icn_time,.icn_write,.btn_get_Directions{background-repeat:no-repeat}

.sprite_star{background:url("../images/sprite_star.svg") no-repeat;display:inline-block}
.rate0-0{background-position:3px 0}
.rate0-5{background-position:3px 0}
.rate1-0{background-position:3px 0}
.rate1-5{background-position:3px 0}
.rate2-0{background-position:3px 0}
.rate2-5{background-position:3px 0}
.rate3-0{background-position:3px 0}
.rate3-5{background-position:3px 0}
.rate4-0{background-position:3px 0}
.rate4-5{background-position:3px 0}
.rate5-0{background-position:3px 0}

.colBg0-0{background:#F3F3F3}
.colBg0-5{background:#DFDFDF}
.colBg1-0{background:#FE231F}
.colBg1-5{background:#CD110D}
.colBg2-0{background:#FFA751}
.colBg2-5{background:#FF7E00}
.colBg3-0{background:#EEE400}
.colBg3-5{background:#CFC700}
.colBg4-0{background:#77CF00}
.colBg4-5{background:#5DA200}
.colBg5-0{background:#3E5E00}

/*****
	common
*****/
.tp-pad{padding-top:50px;}
.ctrl input[type="text"],textarea,select{display:block;padding:10px 0;-webkit-box-sizing:border-box; /* Safari/Chrome, other WebKit / -moz-box-sizing:border-box; / Firefox, other Gecko */ box-sizing:border-box;width:100%;border-bottom:1px solid #E4E4E4;background:#fff;font-size:12px;color:#a5a5a5}
::-webkit-input-placeholder{ /* Chrome/Opera/Safari */ color:#a5a5a5;}
::-moz-placeholder { /* Firefox 19+ */ color:#a5a5a5;}
:-ms-input-placeholder { /* IE 10+ */color:#a5a5a5;}
:-moz-placeholder { /* Firefox 18- */ color:#a5a5a5; }
.ctrl li{padding:5px 0}
.ctrl li a.btn{float:right;margin-left:10px}
a.btn{display:inline-block;padding:10px 0;}
.col_blue{color:#00B8DE}
.col_gry{color:#A5A5A5}
.btn_continue{font-style:italic;color:#949494}

/*****
	header 2 : start
*****/
header.others-hd{background:#fff;box-shadow:1px 1px 1px 1px #dcdcdc;position:fixed}
header.others-hd .btn_bk{width:48px;height:48px;background:url("../images/icn_back.svg") no-repeat center;position:absolute;top:0;left:0;z-index:1;}
header.others-hd h1{text-align:center;font-size:12px;color:#282828;padding-top:17px}

/*****
	header 3 : start
*****/
header.details-hd{position:fixed;background:rgba(0,0,0,.3);}
header.details-hd .btn_bk{width:48px;height:48px;background:url("../images/icn_back.svg") no-repeat center;position:absolute;top:0;left:0;z-index:1;}

/*****
	home
*****/
.home-data .inr{padding:25px 10px 10px 10px;}
.home-data .inr h1{font-size:12px;text-align:center;color:rgba(0,0,30,.4);}
.home-data .inr h1 span{font-weight:700;color:#000}

/*****
	nav slider
*****/
.navSlider{background:#F7F7F7;padding:10px 0}
.navSlider ul{white-space:nowrap;overflow-x:auto;}
.navSlider ul li{display: inline-block;margin-right:5px}
.navSlider ul li a{display:block;padding:10px;background:#fff}
.navSlider ul li a picture{display:block;width:115px;height:115px;max-width:115px;max-height:115px;overflow:hidden;box-shadow:0 0 3px 1px #e0e0e0;;border-radius:3px;}
.navSlider ul li a picture img{width:115px;height:115px}
.navSlider ul li a h2{color:#363636;padding:15px 0}

/*****
	footer
*****/
footer{padding:20px 0 30px 0}
footer .social{padding-bottom:10px}
footer .social ul{text-align:center}
footer .social ul li{display:inline-block;}
footer .social ul li a{display:block;width:40px;height:40px;background-position:center;background-repeat:no-repeat;}
footer p{color:#4d4d4d;font-size:10px;text-align:center}

/*****
	serp list
*****/
.serp_list li{border-bottom:5px solid #E4E4E4;background:#fff;}
.serp_list li a{display:block;padding:15px 10px;}
.serp_list li a .LHS{width:75px;float:left}
.serp_list li a .LHS picture{display:block;width:75px;height:75px;overflow:hidden;border-radius:99%}
.serp_list li a .LHS picture img{width:75px;height:75px;}
.serp_list li a .LHS .sprite_star{padding-top:16px;display:block;background-size:70px auto;margin-top:10px}
.serp_list li a .LHS .sprite_star span{font-size:9px;color:#848484;display:block;text-align:center;background:#fff;}
.serp_list li a .RHS{padding-left:10px;width:calc(100% - 90px);float:right;}
.serp_list li a .RHS h2{font-size:18px;color:#00B8DE;padding-bottom:8px;}
.serp_list li a .RHS h3{font-size:14px;color:#333;}
.serp_list li a .RHS .info{border-bottom:1px solid #E5E5E5;padding-bottom:10px;margin-bottom:10px;}
.serp_list li a .RHS .info span{font-size:10px;color:#848484;}
.serp_list li a .RHS .info em{font-size:10px;color:#474747;font-weight:bold}
.serp_list li a .RHS .info2{padding-bottom:15px}
.serp_list li a .RHS .info2 span.fees{color:#C50000;}
.serp_list li a .RHS .info2 span{background-position:center left;background-repeat:no-repeat;padding:5px 5px 5px 15px;margin-right:5px}
.serp_list li a .RHS .info2 span.location{color:#474747;}
.serp_list li a .RHS .info2 span.location em{color:#507C5C;font-weight:700;font-size:10px;font-style:italic}
.serp_list li a .RHS .action .btnL,.serp_list li a .RHS .action .btnR{width:50%;float:left;}
.serp_list li a .RHS .action .btn{color:#00738B;font-size:11px;text-align:center;padding:10px;}
.serp_list li a .RHS .action .btn_cl{border:1px solid #E8E8E8;margin-right:3px}
.serp_list li a .RHS .action .btn_aprt{background:rgba(0,184,222,.28);border:1px solid transparent;margin-left:3px}

/*****
	short / filter
*****/
.srt_filter{position:fixed;width:100%;z-index:999999;left:0;bottom:0;background:#fff;box-shadow:0px -2px 4px 1px #dcdcdc}
.srt_filter .btn_srt,.srt_filter .btn_filter{width:50%;float:left;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;text-align:center}
.srt_filter .btn_srt{border-right:1px solid #E4E4E4;}
.srt_filter .btn_srt span,.srt_filter .btn_filter span{display:inline-block;height:35px;margin-top:13px}
.srt_filter .btn_srt span{padding-left:45px}
.srt_filter .btn_filter span{padding-left:30px}
.srt_filter .btn_srt em,.srt_filter .btn_filter em{display:block;padding-top:3px}

/*****
	details
*****/
.details-data .hd_img{background-size:cover;background-position:center top;background-repeat:no-repeat;min-height:200px;position:relative}
.details-data .hd_img .usr_dp{width:100px;height:100px;border-radius:99%;border:5px solid #fff;position:absolute;bottom:-50%;left:50%;margin-bottom:50px;margin-left:-50px;z-index:1}
.details-data .hd_img .usr_dp img{width:100px;height:100px;border-radius:99%}
.details-data article{padding-top:45px}
.details-data article h4{font-size:15px;color:#999;padding-bottom:10px}
.details-data article .crd{padding:10px;border-bottom:10px solid #E0E0E0;}
.details-data article .profile h1{text-align:center;color:#00B8DE;font-size:20px;padding-bottom:10px}
.details-data article .profile .info{text-align:center;padding-bottom:10px}
.details-data article .profile .info li{display:inline-block;font-size:11px}
.details-data article .profile .info li.exp{color:#474747;font-weight:bold;margin-right:15px}
.details-data article .profile .info li.sprite_star{padding-left:68px;background-size:60px auto;background-repeat:no-repeat;margin-right:15px}
.details-data article .profile .info li.rate0-0{background-position:3px 1px}
.details-data article .profile .info li.rate0-5{background-position:3px 0}
.details-data article .profile .info li.rate1-0{background-position:3px 0}
.details-data article .profile .info li.rate1-5{background-position:3px 0}
.details-data article .profile .info li.rate2-0{background-position:3px 0}
.details-data article .profile .info li.rate2-5{background-position:3px 0}
.details-data article .profile .info li.rate3-0{background-position:3px 0}
.details-data article .profile .info li.rate3-5{background-position:3px 0}
.details-data article .profile .info li.rate4-0{background-position:3px 0}
.details-data article .profile .info li.rate4-5{background-position:3px 0}
.details-data article .profile .info li.rate5-0{background-position:3px 0}
.details-data article .profile .info li.fees{background:url("../images/icn_rs.svg") no-repeat 0 1px;padding-left:12px;color:#C50000;font-weight:700}
.details-data article .profile p{text-align:center;font-size:12px;color:#848484;padding-bottom:10px;line-height:20px}

.details-data article .crd.address{padding:20px 0 0 0}
.details-data article .address .inr{padding:0 10px}
.details-data article .address h2{font-size:14px;color:#363636;font-weight:700;padding-bottom:10px}
.details-data article .address p{color:#848484;font-size:12px;line-height:20px;padding-bottom:15px}
.details-data article .photo_addrs .thumb_photo{width:60%;float:left}
.details-data article .photo_addrs .thumb_photo ul li{width:40px;height:40px;float:left;overflow:hidden;margin:0 10px 10px 0}
.details-data article .photo_addrs .thumb_photo ul li img{width:37px;height:37px;border:3px solid #E5E5E5}
.details-data article .photo_addrs .addrs{width:40%;float:left}
.details-data article .photo_addrs .addrs ul li span{font-size:13px;font-weight:700;text-transform:uppercase}
.details-data article .photo_addrs .addrs ul{padding-left:6px}
.details-data article .photo_addrs .addrs ul li{font-size:12px;color:#363636;padding:0 0 8px 22px}
.details-data article .address .actionWrp{border-top:1px solid #e2e2e2}
.details-data article .address .actionWrp .btn:nth-child(2){border-left:1px solid #e2e2e2;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.details-data article .address .actionWrp .btn{width:50%;float:left;text-align:center}
.details-data article .address .actionWrp .btn span{padding:16px 0;text-transform:uppercase;display:inline-block}
.details-data article .address .actionWrp .btn span.btn_get_Directions{padding-left:25px;background-position:center left}

.details-data article .crd.reviews{padding:20px 0 0 0}
.details-data article .reviews .inr{padding:0 10px}
.details-data article .reviews .viwmore_wrp{border-top:1px solid #e2e2e2;margin-top:10px;padding-bottom:10px}
.details-data article .reviews .viwmore_wrp a{display:block;text-align:right}
.details-data article .reviews .viwmore_wrp span.img{display:inline-block;width:25px;height:25px;margin-right:-10px;}
.details-data article .reviews .viwmore_wrp span img{border-radius:99%;width:25px;height:25px}
.details-data article .reviews .viwmore_wrp span.txt{width:auto}
.reviews .hd{padding-bottom:5px;}
.reviews .hd h4{float:left}
.reviews .hd .btn_wrte_reviw.icn_write{float:right;color:#000;font-size:15px;background-size:16px auto;padding-left:22px}
.reviews .review_lst .info{padding-bottom:15px}
.reviews .review_lst .info .LHS{width:calc(100% - 105px);float:left}
.reviews .review_lst .info .LHS .user figure img{width:50px;height:50px;border-radius:99%;float:left;margin-right:10px}
.reviews .review_lst .info .LHS .user figure figcaption{font-size:14px;color:#000;font-weight:700;padding:8px 0 4px 0}
.reviews .review_lst .info .LHS .user figure span{color:#787878;font-style:italic;font-size:10px}
.reviews .review_lst .info .RHS{width:105px;float:left}
.reviews .review_lst .info .RHS .sprite_star{height:17px;display:block;background-size:100px auto;margin-bottom:5px}
.reviews .review_lst .info .RHS span{display:inline-block;float:right;padding:5px 10px;width:26px;text-align:center;border-radius:3px}
.reviews .review_lst li{border-bottom:1px solid #e2e2e2;padding-bottom:20px;margin-bottom:20px}
.reviews .review_lst li:last-child{border:none;padding-bottom:0;margin-bottom:0}
.reviews .review_lst li p{line-height:20px;color:#363636}